*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "PlayfairDisplay", sans-serif;
  min-width: 320px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #662d91;
  color: white;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    justify-content: flex-start;
    padding-left: 2rem;
    width: 50%;
  }
}

.nav-bar {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    align-items: center;
  }
}
.nav-bar__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  height: 5vh;
  padding: 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav-bar__list {
    height: 9vh;
  }
}
.nav-bar__item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}
.nav-bar__item:hover {
  border: black solid 2px;
  color: black;
  font-weight: 600;
}
.nav-bar__item.bio {
  border: white solid 2px;
}

.hero {
  background-image: url("../assets/images/cala-gonone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .hero {
    font-size: 2rem;
    height: 40vh;
  }
}
.hero__span {
  color: black;
}

.culture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.culture__title {
  margin: 1rem 0 0;
}
@media screen and (min-width: 768px) {
  .culture__title {
    font-size: 2rem;
    margin: 4rem 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .culture__title {
    margin: 6rem 0 0;
    font-size: 3rem;
  }
}
.culture__paragraph {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 2rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .culture__paragraph {
    padding: 4rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .culture__paragraph {
    padding: 6rem;
  }
}
.culture__bold {
  font-weight: 600;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .image {
    padding: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .image {
    padding: 6rem;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #662d91;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  cursor: pointer;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 1rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 1.5rem;
  }
}
.text__para {
  margin-top: 1rem;
  font-style: italic;
  line-height: 2rem;
}

.food {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .food {
    padding: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .food {
    padding: 6rem;
  }
}
.food__title {
  margin: 1rem 0;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .food__title {
    margin: 2rem 0;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .food__title {
    margin: 4rem 0;
    font-size: 4rem;
  }
}
.food__box-flex {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .food__box-flex {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .food__top {
    margin: 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .food__bottom {
    margin: 0 1rem;
  }
}

.photoGallery {
  background-color: #662d91;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .photoGallery {
    padding: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .photoGallery {
    padding: 6rem;
  }
}
.photoGallery__title {
  color: white;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .photoGallery__title {
    margin: 2rem;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .photoGallery__title {
    margin: 3rem;
    font-size: 4rem;
  }
}
.photoGallery__grid {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .photoGallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.photoGallery__item {
  max-width: 100%;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
}
.photoGallery__item:hover {
  transform: scale(1.1);
  border: 2px solid white;
  box-shadow: 0 0 8px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
}

.htmlForm {
  padding: 1rem;
}
.htmlForm__title {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .htmlForm__title {
    font-size: 3rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .htmlForm__title {
    font-size: 4rem;
    padding: 3rem;
  }
}
.htmlForm__sectionUp {
  width: 100%;
  height: 40vh;
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid lightgray;
}
@media screen and (min-width: 768px) {
  .htmlForm__sectionUp {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .htmlForm__sectionUp {
    padding: 0 15rem;
  }
}
.htmlForm__avatar-box {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .htmlForm__avatar-box {
    width: 15%;
  }
}
.htmlForm__imgAvatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.htmlForm__formSubmit {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .htmlForm__formSubmit {
    width: 85%;
  }
}

label {
  color: lightgrey;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

input {
  color: lightgrey;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.input-name {
  height: 2rem;
  border-radius: 5px;
  border: solid 1px gray;
  background-color: #f5f5f5;
  color: black;
  padding-left: 1rem;
}

.input-comment {
  height: 5rem;
  border-radius: 5px;
  border: solid 1px gray;
  background-color: #f5f5f5;
  color: black;
  padding: 0 0 2rem 1rem;
}

.button-wrapper {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .button-wrapper {
    justify-content: flex-end;
  }
}

button {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #696969;
  border-radius: 5px;
  border: solid 1px gray;
  color: white;
  transition: ease-in-out 1s;
}
button:hover {
  background-color: black;
  cursor: pointer;
}
button:active {
  background-color: #662d91;
}
@media screen and (min-width: 768px) {
  button {
    width: 30%;
  }
}

.comments {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
  margin-bottom: 5rem;
  border-bottom: 1px solid lightgray;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .comments {
    padding: 0 15rem;
  }
}
.comments__box-right {
  width: 80%;
}
.comments__image-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.comments__title-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.comments__subsection-title {
  font-weight: 600;
}
.comments__time {
  color: lightgray;
  font-weight: 600;
}
.comments__text-box {
  display: flex;
  line-height: 2rem;
}

.wrap-avatar {
  display: flex;
  justify-content: center;
  width: 20%;
}

.footer {
  background-color: #662d91;
  color: white;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 3rem;
  }
}
.footer__contacts-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__contacts-box {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__contacts-box {
    margin-bottom: 4rem;
  }
}
.footer__logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: block;
    font-weight: 600;
    font-size: 2rem;
  }
}
.footer__iconLink {
  transition: ease-out 1s;
}
.footer__iconLink:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 0 8px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
}

.section-info {
  border: solid 1px white;
  border-radius: 11px;
  padding: 1rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 10rem;
  }
}
@media screen and (min-width: 768px) {
  .section-info__paragraph {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .Copyright {
    display: flex;
    justify-content: center;
  }
}

h1 {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    margin-bottom: 3rem;
  }
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  transition: ease-in 1s;
  transform: scale(1.2);
  color: blue;
}

#commentsList {
  padding: 0;
}/*# sourceMappingURL=bio.css.map */